* {
    font-family: monospace;
}
.mainHeader {
    font-size: 40px;
    text-align: center;
    display: inline-block;
    width: 1250px;
}

.dataDescription {
    font-size: 24px;
}

.dataButton {
    background-color: #748B90;
    color: white;
    height: 75px;
    width: 200px;
    font-size: 18px;
}

.buttonRowTwo {
    padding-top: 10px;
}
.dataBar {
    text-align: center;
}

.homeArrow {
    font-size: 24px;
    display: inline-block;
    width: 100px;
}